* {
  text-decoration: none;
}
nav {
  border-bottom: 1px solid grey;
}
nav img {
  margin-right: 20px;
}

h1.navbar-brand {
  background-color: royalblue;
  color: whitesmoke;
  font-family: "Bookman Old Style", "Times New Roman", serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
.container,
.card {
  background-color: whitesmoke;
  position: relative;
  border: 1px solid grey;
}

form {
  width: 100%;
}

.container h1 {
  color: royalblue;
  font-family: "Bookman Old Style", "Times New Roman", serif;
  font-weight: bold;
  font-size: 30px;
  border-bottom: 1px double grey;
}

.container p {
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#me {
  position: relative;
  width: 50%;
}

.footer {
  /* position: fixed; */
  bottom: 0;
  position: fixed;
  width: 100%;
  color: whitesmoke;
  background-color: grey;
  text-align: center;
  border-top: solid 3px royalblue;
}